<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<%= turbo_frame_tag "articles", data: { turbo_action: :advance } do %>
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article, data: { turbo_frame: "articles" } %>
    </p>
  <% end %>
<% end %>

<%= link_to "New article", new_article_path, data: { turbo_frame: "articles" } %>
